<p id="notice"><%= notice %></p>

<p>
  <strong>Customer Name:</strong>
  <%= @order.name %>
</p>
<p>
  <strong>Customer Email:</strong>
  <%= @order.email %>
</p>
<p>
  <strong>Total:</strong>
  $<%= @order.total %>
</p>
<!-- <p>
  <strong>Payment:</strong>
  <%= @order.payment %>
</p> -->
<p>
  <strong>Time:</strong>
  <%= @order.created_at %>
</p>
<strong>Order Items:</strong>
<table>
   <thead>
    <tr>
      <th>Pizza</th>
      <th>Price</th>
      <th>Quantity</th>
    </tr>
  </thead>

  <% @order.order_items.each do |item| %>
  	<tr>
  	 <td><%= item.pizza.name %></td>
  	 <td><%= item.pizza.price %></td>
  	 <td><%= item.quantity %></td>
  	</tr>
  <% end %>
</table>

<!-- <% link_to 'Edit', edit_order_path(@order) %> | -->
<%= link_to 'Back', orders_path %>
